.layout {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.container {
    padding: 8rem 25rem;
    margin: auto;
    /*text-align: center;*/
}

form {
    /*padding: 15rem 25rem*/
    text-align: center;
}

/*.col {
    margin-bottom: 20px;
}*/

.name {
    padding-bottom: 20px;
    /*width: 360px;*/
    height: 50px;
    border-color: #ff9966;
}

/* .emailaddress  {
    padding-bottom: 20px;
    
    height: 50px;
    border-color: #ff9966;
} */

.phonenumber {
    padding-bottom: 20px;
    /*width: 360px;*/
    height: 50px;
    border-color: #ff9966;
}

.id {
    padding-bottom: 20px;
    /*width: 360px;*/
    height: 50px;
    border-color: #ff9966;
}

.question {
    padding-bottom: 20px;
    /*width: 360px;*/
    height: 50px;
    border-color: #ff9966;
}

.answer {
    padding-bottom: 50px;
    /*width: 360px;*/
    height: 50px;
    border-color: #ff9966;
}

.findpasswordbutton .btn-primary {
    width: max-content;
    height: 40px;
    border-radius: 4px;
    /*margin: auto;*/
    margin-top: 70px;
}
.findpwbutton {
    margin-top: 80px;
}
.input-style {
    /* width: 28px; */
    /* height: 18px; */
    /* font-family: Arial; */
    /* font-size: 14px; */
    /* font-weight: normal; */
    /* font-stretch: normal; */
    /* font-style: normal; */
    /* line-height: 1.14; */
    /* letter-spacing: normal; */
    text-align: left;
    color: #ff9966;
    border: 1px solid #ff9966;
}

.input-style::placeholder {
    color: #ff9966;
}
