.container{
    padding: 10rem 15rem;
    margin:auto; 
    text-align: center;
}

.rename{
    width: max-content;
    height: 40px;
    border-radius: 4px;
    /*margin: auto;*/
    margin-top: 70px;
    background-color:#ff9966;
    color:white;
    border-color:white;
}