{% extends 'main/base.html' %} {% load static %}

<!-- CSS -->
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'userapp/css/findpassword.css' %}" />
{% endblock css%}

<!-- 기본 Navbar -->

<!-- Content -->
{% block content %}

<form method="POST">
{% csrf_token %}
    <div class="container">
        <!-- 이름 -->
        <div class="name">
            <div class="col">
            <input type="text" class="form-control input-style" placeholder="이름" name="username" value="{{username}}">
            </div>
        </div>

        <!-- 전화번호 -->
        <div class="phonenumber">
            <div class="col">
            <input type="text" class="form-control input-style" placeholder="전화번호" name="phone" id="phone"
                value="{{phone}}">
            </div>
        </div>

        <!-- 사업자번호 -->
        <div class="id">
            <div class="col">
            <input type="number" class="form-control input-style" placeholder="아이디(사업자번호 10자리)" name="u_id" id="u_id"
                value="{{u_id}}">
            </div>
        </div>

        <!-- 질문 -->
        <div class="question">
            <div class="col">
            <select class="form-control input-style" id="exampleFormControlSelect1" placeholder="비밀번호 찾기 질문">
                <option>나의 보물 1호는?</option>
                <option>나의 고향은?</option>
                <option>붕어빵 먹을 때 가장 먼저 먹는 부위는?</option>
                <option>나의 MBTI는?</option>
                <option>돌잡이 때 잡은 것은?</option>
            </select>
            </div>
        </div>

        <!-- 답변 -->
        <div class="answer">
            <div class="col">
            <input type="text" class="form-control input-style" placeholder="답변" name="answer" value="{{answer}}">
            </div>
        </div>

        <div class="findqwbutton">
            <input type="submit" class="btn btn-primary findpasswordbutton" value="비밀번호 찾기"></input>
        </div>
    </div>
</form>

{% endblock content %}