{% extends 'main/base.html' %} {% load static %}

<!-- CSS -->
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'userapp/css/password_reset.css' %}" />
{% endblock css%}

<!-- 기본 Navbar -->

<!-- Content -->
{% block content %}
<div class="container">
    <h1>비밀번호를 잊으셨나요?</h1>
    <span class="subheading">비밀번호를 다시 설정하시려면 WebkeyOkey에 등록하신 이메일 주소를 입력해주세요.<br/>사용자의 이메일 주소로 비밀번호 재설정 메일을 전송해드리겠습니다.</span>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit"class="rename" value="비밀번호 재설정" />
    </form>
</div>
{% endblock content %}