.card {
    /* margin-left: 1300px; */
    margin-top: 100px;
    text-align: center;
    width: 500px;
    height: 140px;
    border-radius: 56px;
    background-color: #ffb793;
}

h3 {
    margin-top: auto;
}

h1 {
    margin-top: auto;
    margin-bottom: auto;
}

/* calendar_style */
.my-btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.left {
    float: left;
}

.right {
    float: right;
}

.btn-outline-mycolor {
    color: #dfa295;
    border-color: #dfa295;
}
.btn:hover {
    color: #9f5652;
}

.calendar {
    margin-top: 1rem;
    /* margin-right: 0; */
    background: #fff;
    border-radius: 1em;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2), 10px 10px 10px 10px #fff;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2), 10px 10px 10px 10px #fff;
    color: #8f8785;
    text-align: center;
    align-self: flex-start;
}

.calendar th {
    width: max-content;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.calendar tr {
    color: #9f5652;
    font-weight: 1;
}

.calendar .month {
    color: #dfa295;
    font-weight: 3;
    font-size: 2rem;
}

.calendar td {
    color: #201110;
    height: 5em;
    padding: 0.3em 0.25em;
    transition: background 0.5s;
    text-align: left;
    vertical-align: top;
}

.calendar td:hover {
    background: rgba(143, 129, 128, 0.2);
    border-radius: 0.5em;
    color: #9f5652;
}
.calendar td .date {
    font-weight: bold;
}
.calendar td .pay_line {
    padding-inline-start: 0;
    text-align: center;
    font-size: large;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

table.calendar {
    justify-content: flex-start;
}

.sale {
    justify-content: flex-end;
}
